<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
        body{width: 50%;margin: 0 auto;}
        form {display: inline-block; margin: 0.5em;}
        ul{list-style: none;}
        span{margin: 0 0.6em;}
    </style>
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/import/">Импорт</a>
    </nav>
    <input type="submit" name="add-request" value="добавить">
    <div id="handler"></div>
    <div class="a"></div>
    <div id="message"></div>
    <form class="search"  onsubmit="return indexFilms();">
        <input type="text" value="" name="search" />
        <input type="button" name="searchButton" value="Search" />
    </form>

    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script>
        /**
         * URL parser
         * @type {[type]}
         */
        var parser = document.createElement('a');
        parser.href = document.URL;

        parser.protocol; // => "http:"
        parser.hostname; // => "example.com"
        parser.port;     // => "3000"
        parser.pathname; // => "/pathname/"
        parser.search;   // => "?search=test"
        parser.hash;     // => "#hash"
        parser.host;     // => "example.com:3000"

        var url = parser.pathname;
        /* End URl parser */
        function indexFilms() {
            var search = $('[name=search]', $('.search')).val();
            var limit =
            var offset =
            var sortOrder = .....

            $.getJSON("/api/films", { Search : search }, function(dataResult) {
                var films = dataResult.films;
                var grid = '';

                $.each(films, function(k, file) {
                    grid +=
                        "<li id='" + film.Id + "'>"+
                            "<form method='post' class='delete' action='/api/films/"+film.Id+"'>"+
                                "<input value='DELETE' name='_METHOD' type='hidden'>" +
                                "<input value='удалить' type='submit' class='del-butt' name='del-submit'>"
                                + film.Name +
                           "</form>"+
                           "<a href='"+film.Id +"'>Info</a>"+
                       "</li>"
                });

                $("<ul/>", {
                    "class": "films",
                    html: grid
                }).appendTo("div.a");
                // init create film
            });
            return false;
        }

        function showFilm(id) {
            $.getJSON("/api/films/" + id, function(dataResult) {
                var value = dataResult.film; // rename to film
                var html =
                    "<li id='" + value.Id + "'>"+
                        "<form method='post' action='/api/films/"+ value.Id+"'>"+
                            "<input value='DELETE' name='_METHOD' type='hidden'>" +
                            "<input value='удалить' type='submit' class='del-butt' name='del-submit'>"
                            + "<span>"+value.Name+"</span><span>"+value.Year+"</span><span>"+value.Format+"</span>"+
                            "<span>"+value.Stars+"</span>"+
                       "</form>"+
                   "</li>"
                    ;

                $("<ul/>", {
                    "class": "films",
                    html: html
                }).appendTo("div.a");
              // init delete action
            });
        }

        function deleteFilm(id) {

        }

        function createFilm() {
            $("input[name=add-request]").click(function() {
                var addForm = document.createElement("form");
                    addForm.setAttribute("method", "post");
                    addForm.setAttribute("action", "/api/films/");
                    addForm.setAttribute("class", "add");

                var titleAddImput = document.createElement("input");
                    titleAddImput.setAttribute("type", "text");
                    titleAddImput.setAttribute("name", "Name");
                    titleAddImput.setAttribute("value", "title");

                var yearAddImput = document.createElement("input");
                    yearAddImput.setAttribute("type", "text");
                    yearAddImput.setAttribute("name", "Year");
                    yearAddImput.setAttribute("value", "year");

                var formatAddImput = document.createElement("input");
                    formatAddImput.setAttribute("type", "text");
                    formatAddImput.setAttribute("name", "Format");
                    formatAddImput.setAttribute("value", "format");

                var actorNameAddImput = document.createElement("input");
                    actorNameAddImput.setAttribute("type", "text");
                    actorNameAddImput.setAttribute("name", "ActorName");
                    actorNameAddImput.setAttribute("value", "name");

                var addSubmit = document.createElement("input");
                    addSubmit.setAttribute("type", "submit");
                    addSubmit.setAttribute("value", "добавить");

                addForm.appendChild(titleAddImput);
                addForm.appendChild(yearAddImput);
                addForm.appendChild(formatAddImput);
                addForm.appendChild(actorNameAddImput);
                addForm.appendChild(addSubmit);

                document.getElementsByTagName("div")[0].appendChild(addForm);
            }

        /*Clear inputs*/
        $('input:text').click(
        function(){
            $(this).val('');
        });

        $(".add").submit(function(event) {
                event.preventDefault();
                $.ajax({
                    url: '/api/films/',
                    type: 'post',
                    success: function() {
                        $("#message").text('import success');
                    }
                });
            });
        }

        /*function updateFile(id) {

        }*/

        function importFilm() {
            var uploadForm = document.createElement("form");
                    uploadForm.setAttribute("method","post");
                    uploadForm.setAttribute("action","../upload.php");
                    uploadForm.setAttribute("id", "upload");
                    uploadForm.setAttribute("enctype", "multipart/form-data");

                var uploadImput = document.createElement("input");
                    uploadImput.setAttribute("type","file");
                    uploadImput.setAttribute("name","file");

                var uploadSubmit = document.createElement("input");
                    uploadSubmit.setAttribute("type","submit");
                    uploadSubmit.setAttribute("value","upload");

                var importForm = document.createElement("form");
                    importForm.setAttribute("method","post");
                    importForm.setAttribute("action","/import/");
                    importForm.setAttribute("id", "import");

                var importSubmit = document.createElement("input");
                    importSubmit.setAttribute("type","submit");
                    importSubmit.setAttribute("value","import");

                importForm.appendChild(importSubmit);
                uploadForm.appendChild(uploadImput);
                uploadForm.appendChild(uploadSubmit);

                document.getElementsByTagName("body")[0].appendChild(uploadForm);
                document.getElementsByTagName("body")[0].appendChild(importForm);

            $("#import").submit(function(event) {
                event.preventDefault();
                $.ajax({
                    url: '/api/films/import/',
                    type: 'post',
                    success: function() {
                        $("#message").text('import success');
                    }
                });
            });
        }

        function init() {

            if ( url == '/' ) {
                indexFilms();
            } else if ( url == '/import/' ) {
                importFilm();
            } else if ( url.match(/(\d+)/, matched) ) {
                var id = matched[1];
                showFilm(id);
            }
        }

        $(document).ready(init);

    </script>
</body>
</html>