{% extends 'index.html' %}

{% block content %}
<h1>Главная</h1>
<div>
    <div>
        <form action="/main/search" method="post">
            <label for="search-title"></label>
            <input type="text" name="search-title">
            <input type="submit" name="submit" value="Поиск">
        </form>
        <form action="/main/search" method="post">
            <label for="search-actor"></label>
            <input type="text" name="search-actor">
            <input type="submit" name="submit-actor" value="Поиск">
        </form>
    </div>

    <table>
        <tr>
            <td>
            <form action="/info" method="post">
                <input name="id" value="{{film.id}}" type="hidden">
                <input type="submit" name="submit" value="Информация">
            </form>
            </td>
        </tr>
    </table>
</div>
<div class="pager">
            <a href="/main/1">Начало</a>

</div>
{% endblock %}